<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WMS Inventory Report</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
</head>
<body>
    <h1> WMS Inventory Report </h1>
    <p> Sube tu archivo CSV para generar el reporte de stock. </p>

    <form id="uploadForm">
        <input type="file" id="csvFile" accept=".csv" required>
        <br>
        <button type="submit">Generar Reporte</button>
    </form>

    <pre id="resultado">El reporte aparecerá aquí...</pre>

    <script src="{{ url_for('static', path='js/index.js') }}"></script>
</body>
</html>